<div class="container">
  <!-- <h1 class="text-center">Calk</h1> -->
    <div class="col-md-8 col-md-offset-2 calculator" align="center">
      <div class="row displayBox">
        <p class="displayFunc text-left" id="functionName">{{ functionName }}</p>
        <p class="displayText" id="display">{{ display }}</p>
      </div>

      <div class="row numberPad">

        <div class="col-sm-5">
          <div class="row">
            <button class="btn clear hvr-back-pulse" id="clear">C</button>
            <button class="btn btn-calc hvr-radial-out" id="square">x<sup>2</sup></button>
            <button class="btn btn-calc hvr-radial-out" id="sqrt">√</button>
          </div>
          <div class="row">
            <button class="btn btn-calc hvr-radial-out" id="seven">7</button>
            <button class="btn btn-calc hvr-radial-out" id="eight">8</button>
            <button class="btn btn-calc hvr-radial-out" id="nine">9</button>
          </div>
          <div class="row">
            <button class="btn btn-calc hvr-radial-out" id="four">4</button>
            <button class="btn btn-calc hvr-radial-out" id="five">5</button>
            <button class="btn btn-calc hvr-radial-out" id="six">6</button>
          </div>
          <div class="row">
            <button class="btn btn-calc hvr-radial-out" id="one">1</button>
            <button class="btn btn-calc hvr-radial-out" id="two">2</button>
            <button class="btn btn-calc hvr-radial-out" id="three">3</button>
          </div>
          <div class="row">
            <button class="btn btn-calc hvr-radial-out" id="plus_minus">&#177;</button>
            <button class="btn btn-calc hvr-radial-out" id="zero">0</button>
            <button class="btn btn-calc hvr-radial-out" id="decimal">.</button>
          </div>
        </div>
        <div class="col-sm-2 operationSide">
          <button id="divide" class="btn btn-operation hvr-fade">÷</button>
          <button id="multiply" class="btn btn-operation hvr-fade">×</button>
          <button id="subtract" class="btn btn-operation hvr-fade">−</button>
          <button id="add" class="btn btn-operation hvr-fade">+</button>
          <button id="equals" class="btn btn-operation equals hvr-back-pulse">=</button>
        </div>

        <div class="col-sm-5">
          <div class="row">
            <button class="btn btn-func hvr-radial-out" id="clear">x<sup>n</sup></button>
            <button class="btn btn-func hvr-radial-out" id="square">!</button>
            <button class="btn btn-func hvr-radial-out" id="sqrt">√</button>
          </div>
          <div class="row">
            <button class="btn btn-func hvr-radial-out" id="sen">sen</button>
            <button class="btn btn-func hvr-radial-out" id="cos">cos</button>
            <button class="btn btn-func hvr-radial-out" id="tan">tan</button>
          </div>
          <div class="row">
            <button class="btn btn-func hvr-radial-out" id="cot">cot</button>
            <button class="btn btn-func hvr-radial-out" id="sec">sec</button>
            <button class="btn btn-func hvr-radial-out" id="csc">csc</button>
          </div>
          <div class="row">
            <button class="btn btn-func hvr-radial-out" id="ln">ln</button>
            <button class="btn btn-func hvr-radial-out" id="log">log<sub>x</sub></button>
            <button class="btn btn-func hvr-radial-out" id="exp">exp</button>
          </div>
          <div class="row">
            <button class="btn btn-func hvr-radial-out" id=""></button>
            <button class="btn btn-func hvr-radial-out" id=""></button>
            <button class="btn btn-func hvr-radial-out" id=""></button>
          </div>
        </div>

      </div>

    </div>
  </div>
